section.central-main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: $body-font;
  font-size: 1.7rem;
  
  align-items: center;

  div.text {
    width: 290px;
    margin: 70px auto 70px auto;
    padding: 0px 10px 0 10px;
    text-align: center;
  }

  div.text-1 {
    margin-top: 100px;
  }

  div.download-svg {
    width: 50px;
    height: 50px;
    background-image: url("./assets/download-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 35px;
  }

  div.action-button {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: $header-background-color;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    font-family: $header-font;
    font-size: 1.9rem;
    align-items: center;
    box-shadow: 1px 3px 6px 0px fade-out($color: #292929, $amount: 0.6);
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  div.action-button:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }

  img.calender-img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  div.main-slider-container {
    position: relative;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    margin: 0px auto 50px auto;

    input.slider-button-container {
      appearance: none;
      width: 110px;
      height: 35px;
      border-radius: 20px;
      background-color: #D9D9D9;
      box-shadow: 0px 3px 5px 1px fade-out($color: #292929, $amount: 0.6);
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  
    div.circle-part {
      position: absolute;
      right: 0;
      top: 0;
      width: 35px;
      height: 35px;
      background-color: #fff;
      border-radius: 50%;
      border: solid 0.5px fade-out($color: #928F8F, $amount: 0.4);
      box-shadow: 0px 1px 2px 0px fade-out($color: #292929, $amount: 0.6);
    }
  
    input.slider-button-container:checked + div.circle-part {
      position: absolute;
      left: 0;
    }
  
    input.slider-button-container:checked {
      background-color: #1DE825;
    }

  }

  div.list-container {
    text-align: left;
    line-height: 22px;
    list-style-type: circle;
    padding: 0px 0px 0px 20px;
    span {
      font-weight: bold;
    }
    li {
      margin-top: 10px;
    }
  }

  div.text-4 {
    margin-bottom: 20px;
  }

  div.text-5 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

}