footer {
  width: 100%;
  height: 200px;
  margin-top: 60px;
  font-size: 1.6rem;
  font-family: $body-font;
  background: linear-gradient(#311F61, #7A5CCC);
  span {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;  
  }
}