footer {
  div.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 15px;
    div.social-media--icon {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    div.instagram {
      background-image: url("./assets/instagram.svg");
    }
    div.whatsapp {
      background-image: url("./assets/whatsapp.svg");
    }
    div.mail {
      background-image: url("./assets/mail.svg");
    }
  }
}