section.central-main-section {
  div.download-svg {
    width: 50px;
    height: 50px;
    background-image: url("./assets/download-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 35px;
  }
  img.calender-img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
}